:root {
  --font-primary-kr: 'Noto Sans KR', sans-serif;
  --font-primary-en: 'Overpass', sans-serif;
}

:root {
  --font-size-m: 16px;
  --font-size-m-rem: 1rem;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --line-height-base: 1.4;
  --line-height-compact: 1;
  --letter-spacing-p: -0.01em;
  --letter-spacing-adjust: -0.02em;
  --letter-spacing-narrow: -0.03em;
}
